@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css";

body{
    background-color:#3bb1c9;
}

h1{
    color: blueviolet;
}

.logo{
    height: 5em;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto 
}